*.iml
.gradle
/local.properties
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.class
.gitignore
/app/release/*
/opencv/build/*
local.properties
.idea/